.about-hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("../images/about/about-hero-bg.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.about-hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);

}

.about-hero h1::after {
  content: "";
  display: block;
  width: 120px;
  height: 3px;
  background: white;
  margin: 5px auto 0;
}


.about-hero h1 {
  position: relative;
  color: white;
  font-size: 5rem;
  letter-spacing: 2px;
}


.villa-info {
  padding: 100px 20px;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.icon {
  font-size: 30px;
  margin-bottom: 20px;
}

.villa-info h2 {
  font-size: 46px;
  margin-bottom: 25px;
}

.villa-info p {
  max-width: 800px;
  margin: 0 auto 60px;
  line-height: 1.7;
  font-size: 15px;
  color: #444;
}

.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.stat h3 {
  font-size: 70px;
  margin-bottom: 5px;
}

.stat span {
  font-size: 14px;
  letter-spacing: 1px;
}

.escape-section {
  background: #000;
  padding: 100px 0;
}

.escape-container {
  max-width: 1400px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 80px;
  padding: 0 60px;
}

.escape-content h2 {
  color: white;
  font-size: 48px;
  margin-bottom: 25px;
}

.escape-content p {
  color: #ccc;
  max-width: 450px;
  line-height: 1.7;
  margin-bottom: 40px;
}

.escape-btn {
  display: inline-block;
  padding: 15px 40px;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 13px;
  transition: 0.3s;
}

.escape-btn:hover {
  background: white;
  color: black;
}

.escape-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-location {
  position: relative;
  min-height: 100vh;
  background-image: url("../images/about/about-location-bg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 650px;
  padding: 0 20px;
}

.hero-content h2 {
  font-size: 48px;
  color: #fff;
  margin-bottom: 20px;
}

.hero-content p {
  color: #ddd;
  line-height: 1.7;
  margin-bottom: 40px;
}

.hero-btn {
  display: inline-block;
  padding: 15px 40px;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 13px;
  transition: 0.3s ease;
}

.hero-btn:hover {
  background: #fff;
  color: #000;
  border-radius: 5px;
  font-weight: bold;
}

.video-hero {
  width: 100%;
  height: 100vh;
}

.video-hero iframe {
  width: 100%;
  height: 100%;
}

.vm-artistic {
  position: relative;
  height: 100vh;
  background: url('../images/about/vision-mission-bg.JPG') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: #fff;
}

.vm-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(120deg,
      rgba(0, 0, 0, 0.85) 20%,
      rgba(0, 0, 0, 0.6) 50%,
      rgba(0, 0, 0, 0.85) 80%);
  z-index: 1;
}

.vm-content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 8% 10%;
  z-index: 2;
}

.vm-vision {
  position: absolute;
  top: 15%;
  left: 10%;
  max-width: 400px;
}

.vm-vision h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.vm-vision p {
  line-height: 1.8;
  color: #ddd;
}

.vm-mission {
  position: absolute;
  bottom: 15%;
  right: 10%;
  text-align: right;
  max-width: 400px;
}

.vm-mission h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.vm-mission p {
  line-height: 1.8;
  color: #ddd;
}

.vm-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  transform: translate(-50%, -50%);
  opacity: 0.8;
}


.guest-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("https://casaconcreto.in/wp-content/uploads/2024/01/7.-Kids-friendly.jpeg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.guest-overlay {
  position: absolute;
  inset: 0;
  background: rgba(37, 36, 36, 0.8);
}

.guest-box {
  position: relative;
  background: white;
  padding: 60px 70px;
  max-width: 520px;
  z-index: 2;
  border-radius: 10px;
}

.line {
  width: 40px;
  height: 1px;
  background: black;
  display: block;
  margin-bottom: 25px;
}

.guest-box h2 {
  font-size: 42px;
  margin-bottom: 20px;
}

.guest-box p {
  font-size: 14px;
  line-height: 1.7;
  color: #222;
}

.guest-box button {
  background: black;
  color: white;
  border: none;
  padding: 15px 40px;
  letter-spacing: 2px;
  cursor: pointer;
}


.guest-box button:hover {
  opacity: .8;
}