.about-hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("../images/about/about-hero-bg.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.about-hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);

}

.about-hero h1::after {
  content: "";
  display: block;
  width: 120px;
  height: 3px;
  background: white;
  margin: 5px auto 0;
}


.about-hero h1 {
  position: relative;
  color: white;
  font-size: 5rem;
  letter-spacing: 2px;
}


.villa-info{
  padding:70px 8%;
}

.villa-info-inner{
  max-width:1300px;
  margin:auto;
}

/* TOP ROW */

.villa-top{
  display:grid;
  grid-template-columns:1.2fr 1fr;
  gap:80px;
  align-items:center;
  margin-bottom:60px;
}

/* TEXT */

.villa-text .icon{
  font-size:26px;
  margin-bottom:15px;
  color:#c4a46c;
  text-align: center;
}

.villa-text h2{
  font-size:42px;
  margin-bottom:20px;
  font-weight:500;
}

.villa-text p{
  color:#666;
  line-height:1.7;
  max-width:520px;
}

/* STATS GRID */

.villa-stats{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:30px 40px;
  text-align: center;
}

.stat{
  border-bottom:1px solid #ddd;
  padding-bottom:12px;
}

.stat h3{
  font-size:36px;
  font-weight:500;
}

.stat span{
  display:block;
  color:#777;
  font-size:14px;
  margin-top:4px;
}

/* IMAGE */

.villa-image img{
  width:100%;
  height: 500px;
  border-radius:12px;
  object-fit:cover;
}

/* SECTION */

.luxury-era {
  padding: 120px 8%;
  background: #f7f7f7;
}

.luxury-era-inner {
  max-width: 1300px;
  margin: auto;
}

/* HEADING */

.luxury-era-heading {
  text-align: center;
  margin-bottom: 50px;
}

.luxury-era-heading h2 {
  font-size: 42px;
  margin-bottom: 15px;
  font-weight: 500;
}

.luxury-era-heading p {
  color: #666;
  max-width: 620px;
  margin: auto;
  line-height: 1.6;
}

/* GRID */

.luxury-era-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* CARD */

.luxury-era-card {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  height: 460px;
  cursor: pointer;
}

.luxury-era-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .6s ease;
}

/* DARK OVERLAY */

.luxury-era-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

/* TEXT OVERLAY */

.luxury-era-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 35px;
  color: #fff;
  z-index: 2;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0));
}

.luxury-era-tag {
  font-size: 14px;
  opacity: .9;
}

.luxury-era-overlay h3 {
  font-size: 24px;
  margin: 8px 0 10px;
}

.luxury-era-overlay p {
  font-size: 14px;
  line-height: 1.6;
  opacity: .9;
}

/* HOVER */

.luxury-era-card:hover img {
  transform: scale(1.08);
}



.video-hero {
  width: 100%;
  height: 100vh;
}

.video-hero iframe {
  width: 100%;
  height: 100%;
}

.vm-artistic {
  position: relative;
  height: 100vh;
  background: url('../images/about/vision-mission-bg.JPG') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: #fff;
}

.vm-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(120deg,
      rgba(0, 0, 0, 0.85) 20%,
      rgba(0, 0, 0, 0.6) 50%,
      rgba(0, 0, 0, 0.85) 80%);
  z-index: 1;
}

.vm-content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 8% 10%;
  z-index: 2;
}

.vm-vision {
  position: absolute;
  top: 15%;
  left: 10%;
  max-width: 400px;
}

.vm-vision h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.vm-vision p {
  line-height: 1.8;
  color: #ddd;
}

.vm-mission {
  position: absolute;
  bottom: 15%;
  right: 10%;
  text-align: right;
  max-width: 400px;
}

.vm-mission h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.vm-mission p {
  line-height: 1.8;
  color: #ddd;
}

.vm-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  transform: translate(-50%, -50%);
  opacity: 0.8;
}


.guest-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("https://casaconcreto.in/wp-content/uploads/2024/01/7.-Kids-friendly.jpeg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.guest-overlay {
  position: absolute;
  inset: 0;
  background: rgba(37, 36, 36, 0.8);
}

.guest-box {
  position: relative;
  background: white;
  padding: 60px 70px;
  max-width: 520px;
  z-index: 2;
  border-radius: 10px;
}

.line {
  width: 40px;
  height: 1px;
  background: black;
  display: block;
  margin-bottom: 25px;
}

.guest-box h2 {
  font-size: 42px;
  margin-bottom: 20px;
}

.guest-box p {
  font-size: 14px;
  line-height: 1.7;
  color: #222;
}

.guest-box button {
  background: black;
  color: white;
  border: none;
  padding: 15px 40px;
  letter-spacing: 2px;
  cursor: pointer;
}


.guest-box button:hover {
  opacity: .8;
}