@media (max-width: 991px) {

  nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
  }

  .hamburger {
    display: block;
  }

  .close-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    display: none;
    z-index: 9999;
  }

  .menu {
    position: fixed;
    inset: 0;
    height: 100vh;
    background: #cfdcdc;
    transform: translateX(100%);
    transition: .4s;
    padding-top: 100px;
    overflow-y: auto;
  }

  .menu.active {
    transform: translateX(0);
    height: 100vh;
  }

  .menu,
  .menu * {
    color: #111 !important;
  }

  .menu>ul {
    flex-direction: column;
    padding: 0 20px;
    gap: 0;
  }

  .menu>ul>li {
    width: 100%;
    padding: 12px 15px;
    letter-spacing: 2px;
    display: block;
  }

  .menu>ul>li:hover {
    background: #848686;
  }

  .dropdown {
    display: none;
    position: relative;
    padding-left: 15px;
    margin-top: 8px;
  }

  .has-dropdown {
    background: transparent;
  }

  .has-dropdown.open {
    background: #3e474b;
  }

  .has-dropdown::after {
    position: absolute;
    right: 15px;
    top: 20px;
    transform: translateY(-50%);
  }

  .has-dropdown.open .dropdown {
    display: block;
  }

  .dropdown li {
    font-size: 11px;
    padding: 10px 0;
    display: block;
  }

  .dropdown li:hover {
    color: white;
  }

  .all-for-you {
    padding: 100px 25px;
  }

  #themed-rooms {
    padding: 60px 20px;
  }

  .rooms-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 20px;
  }

  .room-col-grid-first,
  .room-col-grid-second {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    height: auto;
    gap: 20px;
  }

  .room-card-large {
    grid-row: auto;
  }

  .room-card {
    height: auto;
    margin-bottom: 0;
  }

  .room-card {
    height: 260px;
  }

  .room-card:nth-child(4),
  .room-card:nth-child(5) {
    grid-column: auto;
  }


  .amenities-grid {
    grid-template-columns: 1fr 1fr 1fr !important;
    gap: 45px 15px;
  }

  .gallery-title {
    font-size: 32px;
  }

  .footer-inner {
    grid-template-columns: repeat(2, 1fr);
  }

  #image-banner {
    height: 60vh;
  }


  .cuisine-text h2 {
    font-size: 36px;
  }

  .villa-info h2 {
    font-size: 36px !important;
  }

  .escape-container {
    grid-template-columns: 1fr;
    gap: 50px;
    padding: 0 30px;
  }

  .escape-content h2 {
    font-size: 36px;
  }

  .hero-content h2 {
    font-size: 36px;
  }

  .testimonial-rotator {
    width: 100%;
    height: 260px;
    position: relative;
    perspective: 1000px;
  }

  .t-card {
    position: absolute;
    inset: 0;
    width: 100%;
    opacity: 0;
    animation: mobileFlip 20s infinite;
    backface-visibility: hidden;
  }

  .c1 {
    animation-delay: 0s;
  }

  .c2 {
    animation-delay: 5s;
  }

  .c3 {
    animation-delay: 10s;
  }

  .c4 {
    animation-delay: 15s;
  }


  @keyframes mobileFlip {

    0% {
      opacity: 0;
      transform: rotateY(90deg);
    }

    8% {
      opacity: 1;
      transform: rotateY(0deg);
    }

    30% {
      opacity: 1;
      transform: rotateY(0deg);
    }

    38% {
      opacity: 0;
      transform: scale(.95);
    }

    100% {
      opacity: 0;
    }

  }

  .situ-grid {
    grid-template-columns: 1fr;
  }

  .situ-content h2 {
    font-size: 34px;
  }

  .situ-card {
    padding: 30px;
  }

  .experience-heads {
    width: 100%;
    padding: 10px;
  }

  .experience-heads h2 {
    font-size: 40px;
    padding-bottom: 10px;
  }

  .experience-heads p {
    font-size: 16px;
  }

  .experience-list {
    padding: 25px 10px;
  }

  .experience-row {
    gap: 10px;
  }

  .experience-row,
  .experience-row:nth-child(even) {
    flex-direction: column;
  }

  .exp-image img {
    height: 250px;
  }


  .featured-blog {
    grid-template-columns: 1fr;
  }

  .blog-grid {
    grid-template-columns: 1fr 1fr;
  }

  .featured-text {
    text-align: center;
  }

  .footer-brand {
    font-size: 108px;
    bottom: -18px;
  }

}

@media (max-width: 575px) {
  .all-for-you h2 {
    font-size: 26px;
  }

  .all-for-you p {
    font-size: 14px;
  }

  .experience-inner {
    padding: 0px 20px;
  }

  #Experience .owl-dots,
  #Experience .owl-nav {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5px auto 0 auto;
  }

  #Experience .owl-dots {
    position: relative;
    order: 1;
    justify-content: center;
    display: flex !important;
    margin-bottom: 8px;
    margin-top: 20px;
  }

  #Experience .owl-nav {
    position: absolute;
    order: 2;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    width: 120px;
    margin-top: 25px;
    display: flex !important;
  }

  #Experience .owl-nav button.owl-prev,
  #Experience .owl-nav button.owl-next {
    position: relative;
    top: 0;
    transform: none;
  }

  .amenities-title {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .gallery-title {
    font-size: 26px;
  }

  #galleryModal img {
    max-width: 95%;
  }

  .reels-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .stats {
    gap: 30px !important;
  }

  .villa-info h2 {
    font-size: 26px !important;
  }

  .stat h3 {
    font-size: 40px !important;
  }

  .escape-section {
    padding: 60px 0;
  }

  .escape-content h2 {
    font-size: 26px;
  }

  .escape-btn {
    padding: 12px 30px;
  }

  .hero-content h2 {
    font-size: 26px;
  }

  .hero-btn {
    padding: 12px 30px;
  }

  .footer-brand {
    font-size: 50px !important;
    bottom: -5px !important;
  }

}


@media(max-width:768px) {
  #lux-gallery {
    padding: 60px 15px;
  }

  .gallery-grid {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .gallery-item {
    height: 200px;
  }

  .gallery-item.tall {
    height: 260px;
  }

  .gallery-item.wide {
    grid-column: auto;
  }

  #site-footer {
    padding: 50px 20px;
  }

  .footer-inner {
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    text-align: center;
  }

  .footer-col:first-child {
    grid-column: 1 / -1;
    text-align: center;
  }

  .footer-social {
    justify-content: center;
  }

  .footer-col:last-child {
    grid-column: 1 / -1;
  }



  .cuisine-section {
    padding: 80px 25px;
  }

  .cuisine-gallery {
    margin-top: 30px;
  }

  .cuisine-inner {
    grid-template-columns: 1fr;
  }

  .reels-grid {
    grid-template-columns: 1fr;
    padding: 0px 20px;
  }

  .about-hero h1,
  .contact-hero h1 {
    font-size: 2.5rem;
  }

  .villa-info h2 {
    font-size: 32px !important;
  }

  .stat h3 {
    font-size: 55px !important;
  }

  .escape-content {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  .escape-content h2 {
    font-size: 32px;
  }

  .hero-content h2 {
    font-size: 32px;
  }

  .video-hero {
    width: 100%;
    height: 29vh;
  }

  .guest-box {
    padding: 40px 30px;
    margin: 20px;
  }

  .guest-box h2 {
    font-size: 32px;
  }


  .info-bar,
  .contact-card {
    grid-template-columns: 1fr;
  }

  .row {
    flex-direction: column;
  }

  .galleryModal .nav {
    top: auto;
    bottom: 30px;
    transform: none;
    font-size: 26px;
  }

  .galleryModal .prev {
    left: 35%;
  }

  .galleryModal .next {
    right: 35%;
  }

  .fa-chevron-left:before {
    position: absolute;
    bottom: -300px !important;
    left: 100px;
    font-size: 20px;
  }

  .fa-chevron-right:before {
    position: absolute;
    font-size: 20px;
    bottom: -300px !important;
    right: 100px;
  }

  #galleryModalImage {
    margin-bottom: 60px;
  }

  .amenities-grid {
    grid-template-columns: 1fr 1fr !important;
  }

  .amenities-page-grid {
    grid-template-columns: 1fr !important;
  }

  .amenities-section h1 {
    font-size: 32px;
  }


  .blog-hero h1 {
    font-size: 36px;
  }

  .blog-hero p {
    font-size: 15px;
    padding: 10px 12px;
  }

  .blog-grid {
    grid-template-columns: 1fr;
  }

  .blog-wrapper {
    padding: 40px 15px;
  }

  .footer-brand {
    font-size: 74px;
    bottom: -11px;
  }


}