@media (max-width: 991px) {

  nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
  }

  .hamburger {
    display: block;
  }

  .close-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    display: none;
    z-index: 9999;
  }

  .menu {
    position: fixed;
    inset: 0;
    background: #cfdcdc;
    transform: translateX(100%);
    transition: .4s;
    padding-top: 100px;
    overflow-y: auto;
  }

  .menu.active {
    transform: translateX(0);
  }

  .menu,
  .menu * {
    color: #111 !important;
  }

  .menu>ul {
    flex-direction: column;
    padding: 0 20px;
    gap: 0;
  }

  .menu>ul>li {
    width: 100%;
    padding: 12px 15px;
    letter-spacing: 2px;
    display: block;
  }

  .menu>ul>li:hover {
    background: #3e474b;
    color: white !important;
  }

  .dropdown {
    display: none;
    position: relative;
    padding-left: 15px;
    margin-top: 8px;
  }

  .has-dropdown {
    background: transparent;
  }

  .has-dropdown.open {
    background: #3e474b;
  }

  .has-dropdown::after {
    position: absolute;
    right: 15px;
    top: 20px;
    transform: translateY(-50%);
  }

  .has-dropdown.open .dropdown {
    display: block;
  }

  .dropdown li {
    font-size: 11px;
    padding: 10px 0;
    color: #fff !important;
    display: block;
  }

  .all-for-you {
    padding: 100px 25px;
  }

  #themed-rooms {
    padding: 60px 20px;
  }

  .rooms-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .room-card {
    height: 260px;
  }

  .room-card:nth-child(4),
  .room-card:nth-child(5) {
    grid-column: auto;
  }


  .amenities-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 45px 15px;
  }
}

@media (max-width: 575px) {
  .all-for-you h2 {
    font-size: 26px;
  }

  .all-for-you p {
    font-size: 14px;
  }

  .experience-inner {
    padding: 0px 20px;
  }

  #Experience .owl-dots,
  #Experience .owl-nav {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5px auto 0 auto;
  }

  #Experience .owl-dots {
    position: relative;
    order: 1;
    justify-content: center;
    display: flex !important;
    margin-bottom: 8px;
    margin-top: 20px;
  }

  #Experience .owl-nav {
    position: absolute;
    order: 2;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    width: 120px;
    margin-top: 25px;
    display: flex !important;
  }

  #Experience .owl-nav button.owl-prev,
  #Experience .owl-nav button.owl-next {
    position: relative;
    top: 0;
    transform: none;
  }

  .amenities-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 10px;
  }

  .amenities-title {
    font-size: 24px;
    margin-bottom: 40px;
  }
}