.room-hero {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.room-hero .hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.room-hero .hero-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  z-index: 2;
}

.room-hero .hero-content {
  position: absolute;
  bottom: 60px;
  z-index: 3;
  text-align: center;
  color: #fff;
}

.room-hero .hero-content h1 {
  font-size: 60px;
  letter-spacing: 2px;
}


.room-main {
  padding: 100px 0;
  background: #f8f8f8;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.room-row {
  display: flex;
  align-items: center;
  gap: 60px;
}

.room-image {
  flex: 1;
}

.room-image img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.room-text {
  flex: 1;
}


.room-text p {
  font-size: 18px;
  line-height: 1.8;
  color: #555;
  margin-bottom: 15px;
}


.room-details-section {
  position: relative;
  padding: 120px 0;
  background: url("https://res.cloudinary.com/dxaj4o4xh/image/upload/v1775128161/WorkStation_x59got.jpg") center center / cover no-repeat;
  color: #fff;
}

.details-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
}

.details-container {
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  z-index: 2;
}

.details-headings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.details-heading {
  text-align: center;
  margin-bottom: 50px;
}

.details-heading h2 {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 10px;
  position: relative;
}

.details-heading .line {
  width: 80px;
  height: 2px;
  background: #ffffff;
  margin: 0 auto;
  opacity: 0.8;
}

.details-grid {
  display: flex;
  gap: 50px;
}

.glass-card {
  flex: 1;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  padding: 40px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.glass-card h3 {
  font-size: 24px;
  margin-bottom: 30px;
}

.feature-item {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}

.feature-item i {
  font-size: 20px;
  margin-top: 5px;
  color: rgb(145, 121, 60);
}

.feature-item strong {
  display: block;
  margin-bottom: 5px;
}

.feature-item span {
  font-size: 14px;
  opacity: 0.8;
}

.amenity-list {
  list-style: none;
  padding: 0;
  columns: 2;
}

.amenity-list li {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
}

.amenity-list li i {
  color: rgb(145, 121, 60);

}


.room-gallery {
  padding: 50px 0;
  background: #f8f8f8;
}

.room-gallery-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.room-gallery-heading {
  text-align: center;
  margin-bottom: 30px;
}

.room-gallery-heading h2 {
  font-size: 32px;
  letter-spacing: 3px;
  margin-bottom: 15px;
}

.room-gallery-heading .line {
  width: 70px;
  height: 2px;
  background: #000;
  margin: 0 auto;
}

.swiper {
  width: 100%;
}

.swiper-slide img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 12px;
  cursor: pointer;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: rgb(180, 122, 21);
  font-size: 25px !important;
  font-weight: bold ;
}


.image-modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-img {
  max-width: 90%;
  max-height: 85%;
}

.modal-close {
  position: absolute;
  top: 30px;
  right: 40px;
  font-size: 40px;
  color: #fff;
  cursor: pointer;
  transition: .3s;
}

.modal-close:hover{
  transform: rotate(90deg);
}